@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&family=Montserrat:wght@100;400;600;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header design */

header {
    background-color: #3f4453;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
header h1 {
    text-align: center;
    width: 80%;
    background-color: #5e667c;
    color: #c2d2ff;
    padding: 10px 0;
}

header div {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header div h3 {
    font-family: 'EB Garamond', serif;
    color: #939fc0;
}

.links {
    display: flex;
    flex-direction: row;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 46px;
    margin-left: 20px;
}
.links a:hover {
    text-decoration: none;
    color: white;
    font-size: 56px;
}

.letsplay {
    text-decoration: none;
    color: #2a2e38;
    background-color: #939fc0;
    padding: 10px 30px;
    margin-top: 50px;
    font-weight: 600;
}
.letsplay:hover {
    background-color: #2a2e38;
    color: #939fc0;
}

/* Main design */

main {
    background-color: #5e667c;
    height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* Game infos section */

#gameinfos {
    background-color: #939fc0;
    width: 80%;
    margin-top: 40px;
    border-radius: 20px;
}
    
#gameinfos div {
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
}

.infos {
    background-color: #BFACE2;
    padding: 5px 10px;
    color: #1e1c38;
    font-weight: 600;
}
    /* Restart section */
.displayRestart {
    background-color: #939fc0;
    width: 80%;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.default {
    display: none;
}
.displayRestart a {
    text-decoration: none;
    margin: 30px 0;
    background-color: #BFACE2;
    color: #1e1c38;
    font-weight: 800;
    padding: 10px 20px;
}
.displayRestart a:hover {
    background-color: #1e1c38;
    color: #BFACE2;
}
    
    /* Game section */

#game {
    background-color: #939fc0;
    width: 80%;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#game button {
    background-color: #EBC7E6;
    border: unset;
    width: 300px;
    height: 250px;
    border-radius: 50%;
    margin: 60px 0 60px 10px;
}

#game button:hover {
    background-color: #ceadc9;
    border: 4px solid #5e667c;
    width: 340px;
    height: 280px;
}

#game i {
    color: #1e1c38;
    font-size: 56px;
}
